.SideBar
{
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .7em;
    gap: 1.4em;
    position: relative;
}

/* ICONS */
.SideBar-Icons-wrapper
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--second-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SideBar-Icons
{
    color: var(--text-color);
    font-size: 1.8em;
    font-weight: 900;
}


#SideBar-Icons-logout-wrapper
{
    position: absolute;
    bottom: 30px;
}